<!-- Category -->
<div class="bg-white border-b border-slate-100 mt-14 sm:mt-16">
    <div class="max-w-7xl mx-auto px-2 sm:px-4">
        <!-- Categories with proper spacing - using space-x for consistent gaps -->
        <div class="flex flex-row items-center overflow-x-auto overflow-y-hidden no-scrollbar snap-x pt-2 sm:py-2">
            <div class="flex space-x-5 sm:space-x-6 md:space-x-8">
                 {% for cat in all_categories %}
    <a href="{% url "category_product" cat.id %}" class="text-slate-800 hover:text-blue-600 py-2 border-b border-slate-50">
        {{ cat.name }}
    </a>
    {% endfor %}
            </div>
        </div>
    </div>
</div>